<!-- Empieza el section -->
<section>
    <h5>Misión de la empresa</h5>
    <article id="articulo1">
        <div id="imagenes">
            <p>La FIFA fomenta el desarrollo del fútbol femenino y se compromete a ofrecer cada vez más oportunidades a jugadoras, entrenadoras, árbitras y funcionarias, para lo cual organiza cursos destinados a estos colectivos, además de prestar un apoyo financiero para el sostenimiento del fútbol femenino. Mediante la concienciación y numerosas campañas de información, la FIFA apoya la difusión de este deporte y contribuye a la superación de obstáculos sociales y culturales a los que se enfrentan las mujeres, con objeto de lograr una mejor posición social de la mujer.
            </p>
        </div>
    </article>

    <h5>Visión de la empresa</h5>
    <article id="articulo1">
        <div id="imagenes">
            <p>La Visión 2020-2023: por un fútbol verdaderamente global es una hoja de ruta para que la FIFA se vuelque en su objetivo de que el fútbol sea verdaderamente global mientras navega las aguas de un mundo en constante cambio.</p>
        </div>
    </article>

    <h5>objetivos de la empresa</h5>
    <article id="articulo1">
        <div id="imagenes">
            <p>Fomento y desarrollo del fútbol femenino para mujeres adultas y jóvenes de las asociaciones miembro de la FIFA
                Mejora de las estructuras del fútbol femenino en las confederaciones y las asociaciones miembro
                Aumento de la cuota de jugadoras (adultas y jóvenes) tanto en el ámbito del fútbol popular, escolar, de aficionados, como en el profesional
                Mejora progresiva de la calidad, la organización y la difusión de las competiciones de fútbol femenino de la FIFA
                Determinación de los requisitos para conseguir una representación femenina más sólida en puestos técnicos y directivos del mundo del fútbol, incluyendo los sectores de arbitraje, entrenamiento, medicina, medios de comunicación y administración
                Organización de cursos de entrenamiento y formación para jugadoras, entrenadoras, árbitras, médicas y funcionarias
                Creación y difusión de un calendario de partidos
                Análisis y supervisión del desarrollo técnico del fútbol femenino
                Organización de simposios y conferencias sobre el fútbol
                femenino</p>
        </div>
    </article>
</section>
<!-- Termina el section -->