<aside>
    <div>
    <div id="cabezaDelAside">
        <h5>Ultimos partidos del mundial</h5>
        <a target="_blank" href="https://www.google.com/search?gs_ssp=eJzj4tDP1TcwNig0N2D0Ys8tzUvJTMwBADF_BYU&q=mundial&rlz=1C1GCEU_esCO1024CO1024&oq=mundial&aqs=chrome.1.69i57j46i67i131i433j69i59j46i131i433i512j0i67i131i433j69i61l3.2010j0j7&sourceid=chrome&ie=UTF-8#sie=lg;/m/0fp_8fm;2;/m/030q7;mt;fp;1;;;" class="btn btn-outline-light">Ver
            más</a>
    </div>

    <div id="cuerpoDelAside">
        <img src="../assets/images/primerPartido.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">Catar - Senegal
            <br>
            1 - 3
        </h6>
    </div>
    <div id="cuerpoDelAside">
        <img src="../assets/images/segundoPartido.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">Gales vs Iran
            <br>
            0 - 2 
        </h6>
    </div>
    <div id="cuerpoDelAside">
        <img src="../assets/images/tercerPartido.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">Holanda vs Ecuador
            <br>
            1 - 1
        </h6>
    </div>
    <div id="cuerpoDelAside">
        <img src="../assets/images/cuartoPartido.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">Inglaterra vs Estados Unidos
            <br>
            0 - 0
        </h6>
    </div>
    <!-- abajo del aside -->
    <div id="cabezaDelAside">
        <h5>Mayores goleadas</h5>
        <a target="_blank" href="https://www.mundodeportivo.com/us/futbol/mundial/20221123/26163/costa-rica-une-lista-mayores-goleadas-recibidas-historia-mundiales.html" class="btn btn-outline-light">Ver
            más</a>
    </div>
    <div id="cuerpoDelAside">
        <img src="../assets/images/goleadaUno.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">Inglaterra vs Iran
            <br>
            6 - 2
        </h6>
    </div>
    <div id="cuerpoDelAside">
        <img src="../assets/images/goleadaDos.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">Francia vs Australia
            <br>
            4 - 1
        </h6>
    </div>
    <div id="cuerpoDelAside">
        <img src="../assets/images/goleadaTres.jpg" alt="" id="imgAside">
        <h6 id="h6Aside">España vs Costa rica
            <br>
            7 - 0
        </h6>
    </div>
</div>
</aside>