<!-- Empieza el section -->
<section>
    <article id="articulo1">
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/champion.jpg" class="card-img-top uefa">
            <div class="card-body">
              <h5 class="card-title">Uefa champions league</h5>
              <p class="card-text">La Liga de Campeones de la UEFA (en inglés y oficialmente, UEFA Champions League), también conocida como Copa de Europa, es el torneo internacional oficial de fútbol más prestigioso a nivel de clubes en Europa.</p>
              <a target="_blank" href={{urlChampions}} class="btn btn-primary">Ver</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/copa.webp" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Copa Mundial de la FIFA</h5>
              <p class="card-text">La Copa Mundial de la FIFA, cuyo nombre original fue Campeonato Mundial de Fútbol, es el principal torneo internacional oficial de fútbol masculino a nivel de selecciones nacionales en el mundo.</p>
              <a target="_blank" href={{urlMundial}} class="btn btn-primary">Ver</a>
            </div>
          </div>
    </article>
    <article id="articulo1">
        <div class="card" style="width: 18rem;">
            <img src="../assets/images/conference.png" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">UEFA Europa Conference League</h5>
              <p class="card-text"> también conocida simplemente como Liga Conferencia (en inglés, Conference League), es una competición continental oficial de clubes organizada por la Unión de Federaciones Europeas de Fútbol (UEFA)</p>
              <a target="_blank" href={{urlConference}} class="btn btn-primary">Ver</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../assets/images/national.png" class="card-img-top national">
            <div class="card-body">
              <h5 class="card-title">UEFA Nations League</h5>
              <p class="card-text">también llamada Liga de Naciones, es una competición continental de fútbol con carácter oficial, Se disputa entre las selecciones nacionales masculinas de la UEFA, ente rector del deporte en Europa.</p>
              <a target="_blank" href={{urlNationals}} class="btn btn-primary">Ver</a>
            </div>
          </div>
    </article>
</section>
<!-- Termina el section -->
