<!-- Empieza el section -->
<section>
    <img src="../assets/images/misionFifa.webp">
    <h5>Historia de la FIFA</h5>
    <article id="articulo1">
        <div id="imagenes">
            <p>El aumento de la popularidad y la competencia internacional en el fútbol a principios del siglo xx hicieron necesario crear un único organismo regulador del deporte a nivel mundial. La Federación Inglesa de Fútbol sostuvo discusiones acerca de la formación de una federación internacional, pero esta iniciativa no tuvo acogida. Entonces, las autoridades nacionales de fútbol de otros siete países europeos —Bélgica, Dinamarca, España (Real Madrid Club de Fútbol), Francia, Países Bajos, Suecia y Suiza—6​ se reunieron para asociarse y, de esta manera, la FIFA fue fundada en París el 21 de mayo de 1904. El nombre francés y su acrónimo se han mantenido hasta la fecha, incluso fuera de los países francófonos. Su primer presidente fue el francés Robert Guérin. Pese a que no participaron inicialmente en su conformación, Inglaterra se unió al año siguiente, Escocia y Gales en 1910, e Irlanda del Norte en 1911.6​
            La FIFA presidió su primer torneo internacional en 1906, pero no fue exitoso. Esta situación, sumada a los factores económicos, propició el reemplazo de Guérin por el inglés Daniel Burley Woolfall, quien en el momento era un miembro de la asociación. El siguiente torneo internacional fue la competición olímpica de fútbol de Londres 1908, la cual tuvo un buen resultado con la participación de jugadores profesionales. Fue organizada por la Federación Inglesa de Fútbol, contraria a los principios de la FIFA.
            </p>
        </div>
    </article>
</section>
<!-- Termina el section -->